


@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Rowdies:wght@300;400;700&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  color: black;
  font-family: "Rowdies", sans-serif;
}

h2 {
  font-weight: 20px;
  color: rgb(110, 95, 95);
  font-family: "Caveat", system-ui;
}

header h3 {
  font-family: "Caveat", system-ui;
  height: 50px;
}

h3 {
  font-family: "Caveat", system-ui;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  padding: 0px;
  margin: 0px;
}

p {
  height: 100px;
}

body {
  background-color: skyblue;
  width: 1400px;
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
} 

main {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
} 

menu {
  display: flex;
  width: 1400px;
  height: 40px;
  justify-content: center;
  gap: 10px;
  background-color: black;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.menuBtn {
  color: skyblue;
  border: 3px solid skyblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 80px;
  height: 25px;
  background-color: black;
  border-radius: 25px;

}


.skillBox {
  display: flex;
  justify-content: center;
  justify-content: center;
  gap: 30px;
  width: 1400px;
  height: 100px;
}

.skillBox > button {
  color: skyblue;
  font-weight: bolder;
  height: 25px;
  width: 150px;
  border-radius: 20px;
  background-color: black;

}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 500px;
}

.headerBox1, .headerBox2 {
  display: flex;
  padding: 0px;
  margin: 0px;
  gap: 10px;
  flex-direction: column;
  height: 340px;
  width: 340px;
}

.headerBox2 {
   border-radius: 50%;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.headerBox2 > img {
  height: 320px;
  width: 320px;
  border-radius: 50%;
}

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: skyblue;
  display: flex;
  flex-direction: column;
  width: 1400px;
  height: 55px;
  margin: 0px;
  padding: 0px;
}

footer > h3 {
  display: flex;
  position: relative;
  width: 140px;
  padding: 0px;
  left: 40px;
  margin: 0px;
  font-size: 1.0rem;
}

.socialIcon {
  height: 12px;
  position: relative;
}

.footerIcons {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 30px;
  height: 22px;
  background-color: skyblue;
  border-radius: 15px;
  left: 40px;
}


.page {
  background-color: white;
}


/* styling for creativepage */

.mainDiv {
  height: 200px;
  background-color: #008000;
  width: 1400px;
  display: grid;
  grid-template-columns: 1200px 1200px;
  grid-template-rows: 40px, 200px 200px 200px;

}

.titleBox {
  background-color: aliceblue;
  height: 40px;
  width: 1400px;
  display: grid;
  grid-column: 1, 2;
  grid-row: 1, 2;
}

.resources {
  height: 200px;
  background-color: red;
  width: 1400px;
}

.sideBar { 
  height: 200px;
  background-color: yellow;
  
}

