


@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Rowdies:wght@300;400;700&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  color: black;
  font-family: "Rowdies", sans-serif;
}

h2 {
  font-size: 2rem;
  color: brown;
  font-family: "Caveat", system-ui;
  font-weight: bolder;
}

.welcomeH3 {
  font-family: "Caveat", system-ui;
  height: 50px;
}

h3 {
  font-family: "Caveat", system-ui;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  padding: 0px;
  margin: 0px;
}



body {
  background-color: skyblue;
  width: 1400px;
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
} 

main {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
} 

menu {
  display: flex;
  width: 1400px;
  height: 40px;
  justify-content: center;
  gap: 10px;
  background-color: black;
  align-items: center;
  margin: 0px;
  padding: 0px;
}



.menuBtn {
  color: skyblue;
  border: 3px solid skyblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 80px;
  height: 25px;
  background-color: black;
  border-radius: 25px;

}


.mainBox {
  display: flex;
  justify-content: center;
  justify-content: center;
  gap: 30px;
  width: 1400px;
  height: 100px;
}

.mainBox > button {
  color: skyblue;
  font-weight: bolder;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  background-color: black;
  border: 3px solid skyblue;
}

.mainBox > button:hover {
  color: skyblue;
  font-weight: bolder;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  background-color: brown;
  border: 3px solid black;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 500px;
}

.headerBox1, .headerBox2 {
  display: flex;
  padding: 0px;
  margin: 0px;
  gap: 10px;
  flex-direction: column;
  height: 340px;
  width: 340px;
}

.headerBox2 {
   border-radius: 50%;
   background-color: brown;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.headerBox2 > img {
  height: 320px;
  width: 320px;
  border-radius: 50%;
}

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: skyblue;
  display: flex;
  flex-direction: column;
  width: 1400px;
  height: 55px;
  margin: 0px;
  padding: 0px;
}

footer > h3 {
  display: flex;
  position: relative;
  width: 140px;
  padding: 0px;
  left: 40px;
  margin: 0px;
  font-size: 1.0rem;
}

.socialIcon {
  height: 12px;
  position: relative;
}

.footerIcons {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 30px;
  height: 22px;
  background-color: skyblue;
  border-radius: 15px;
  left: 40px;
}


button {
  color: skyblue;
  border: 3px solid skyblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100px;
  height: 30px;
  background-color: black;
  border-radius: 25px;
  font-size: 0.8rem;
}

button:hover {
  background-color: brown;
  cursor: pointer;
}

.page {
  background-color: white;
}


/* styling for creativepage */

.mainDiv {
  height: 900px;
  background-color: skyblue;
  width: 1400px;
  display: grid;
  grid-template-columns: 200px 1200px;
  grid-template-rows: 40px, 200px 200px 200px 200px;
  gap: 0px;
  margin: 0px;
  padding: 0px;
}

.titleBox {
  background-color: skyblue;
  height: 40px;
  width: 1400px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.resources {
  height: 200px;
  padding-left: 50px;
  background-color: rgb(14 13 13 / 0.08);
  width: 1200px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.sideBar { 
  height: 860px;
  background-color: skyblue;
  grid-row-start: 2;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 2;
  border: 1px solid brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BtnSideBar {
  width: 180px;
  border-radius: 12px;
  height: 40px;
  border-radius: 5px;
}

.BtnSideBar:hover {
  font-weight: bolder;
  border-radius: 5px;
  background-color: brown;
  border: 2px solid black;
  cursor: pointer;
}

.resCon {
  height: 120px;
  width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  background-color: skyblue;

}

p {
  font-weight: bolder;
}

.resCon:hover{
  border-top: 1px solid brown;
  border-bottom: 1px solid brown;
}

.divBox1, .divBox2, .divBox3 {
  height: 200px;
  width: 1200px;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: rgb(14 13 13 / 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textFont {
  text-align: start; 
  height: 100%;
}

.divBox1 {
  grid-row-start: 3;
  grid-row-end: 4;
}
/* 
.divBox1 .textFont, .divBox2 .textFont, .divBox3 .textFont {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
  height: 20px;
  width: 150px;
} */

.divBox2 {
  grid-row-start: 4;
  grid-row-end: 5;
}

.divBox3 {
  grid-row-end: 5;
  grid-row-start: 6;
}

.container {
  height: 120px;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  background-color: skyblue;
  /* justify-content: center; */
}

.h3Font {
  font-size: 1.8rem;
  font-weight: bolder;
  color: brown;
}



.BtnLearn {
  width: 200px;
  border-radius: 10px;
  height: 40px;
}

.BtnLearn:hover {
  font-weight: bolder;
  border-radius: 5px;
  background-color: brown;
  border: 2px solid black;
  cursor: pointer;
}

.popUp {
  background-color: hsl(197 69% 70% / 0.9);
  width: 1000px;
  height: 800px;
  display: none;
  position: fixed;
  left: 300px;
  top: 100px;
  border: solid 4px brown;
}

.starSign {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: brown;
  top: 0px;
  left: 955px;
}


/* Start Learning page  */


.mainSLP {
  width: 1400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchdiv {
  width: 1200px;
  height: fit-content;
  display: flex;
  justify-content: center;
}

input {
  border-radius: 10px;
}

.pickLesson {
  width: 1200px;
  background-color: rgb(128 188 212/ 0.7);
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
  height: fit-content;
  margin-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid brown;
}

.skills {
  height: 40px;
  width: 200px;
  background-color: black;
  color: skyblue;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
}


.skills:hover {
  border-radius: 2px;
  background-color: brown;
  border: 2px solid black;
  cursor: pointer;
}

/* Aboutpage css  */


.containerAbout {
  width: 1400px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.divInsideAbout, .divInsideAbout1 {
  background-color: rgba(62, 155, 192, 0.3);
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;
  border-top: 1px solid brown;
  border-bottom: 1px solid brown;
}


.imgAbout {
  height: 240px;
  width: 240px;
} 

.topBlack {
  display: flex;
  width: 1400px;
  height: 40px;
  justify-content: center;
  gap: 10px;
  background-color: black;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.mainDivInprogressPage {
  height: 100vh;
  width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Media queries 

Writing things here so it's easy to spot where the media queries from the right side bar.

 */ 


 
@media screen and (max-width: 520px) {

  body {
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
    
  
  h2 {
    font-size: 1.6rem;
  }
  
  .welcomeH3 {
    font-family: "Caveat", system-ui;
    height: 20px;
  }
  
  
  
  main {
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
  } 
  
  menu {
    display: flex;
    width: 520px;
    height: 40px;
    justify-content: center;
    gap: 10px;
    background-color: black;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
  
  
  
  .menuBtn {
    color: skyblue;
    border: 3px solid skyblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 80px;
    height: 25px;
    background-color: black;
    border-radius: 25px;
  }
  
  
  .mainBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 520px;
    height: 240px;
  }
  
  .mainBox > button {
    height: 40px;
    width: 150px;
  }
  
  .mainBox > button:hover {
    background-color: brown;
  }
  
  header {
    flex-direction: column;
    width: 520px;
    height: 700px;
    gap: 10px;
  }
  
  .headerBox1, .headerBox2 {
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 10px;
    flex-direction: column;
    height: 300px;
    width: 300px;
  }
  
  
  .headerBox2 > img {
    height: 280px;
    width: 280px;
  }
  
  footer {
    width: 520px;
    height: 55px;
  }
  
  footer > h3 {
    font-size: 1.0rem;
  }
  
  .socialIcon {
    height: 12px;
    position: relative;
  }
  
  .footerIcons {
    width: 200px;
  }
  
  
  button {
    color: skyblue;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  
  
  /* styling for creativepage */
  
  .mainDiv {
    height: 2200px;
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .titleBox {
    background-color: skyblue;
    height: 40px;
    width: 520px;
  }
  
  .resources {
    height: 300px;
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }
  
  
  .resources h3 {
    width: 420px;
  }
  
  .resCon {
    height: 160px;
    width: 480px;
    display: flex;
    gap: 10px;
    padding-left: 0px;
  }
  
  .sideBar { 
    display: none;
  }
  
  .BtnSideBar {
    width: 180px;
    border-radius: 12px;
    height: 40px;
    border-radius: 5px;
  }
  
  .BtnSideBar:hover {
    font-weight: bolder;
    cursor: pointer;
  }
  
  
  p {
    font-weight: bolder;
  }
  
  .resCon:hover{
    border-top: 1px solid brown;
    border-bottom: 1px solid brown;
  }
  
  
  .divBox1, .divBox3 {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 480px;
    justify-content: center;
    align-items: center;
    background-color: rgb(14 13 13 / 0.08);
  }
  
  .divBox2 {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 480px;
    align-items: center;
    gap: 0px;
  }
  
  .textFont {
    text-align: start; 
    height: 100%;
  }
  
  
  
  
  .container {
    height: 420px;
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .h3Font {
    font-size: 1.4rem;
    font-weight: bolder;
    color: brown;
  }
  
  
  
  .BtnLearn {
    width: 180px;
    border-radius: 10px;
    height: 35px;
    font-size: 0.8rem;
  }
  
  .BtnLearn:hover {
    width: 160px;
    font-weight: 100;
    height: 35px;
    font-size: 0.77rem;
    border-radius: 8px;
    background-color: brown;
    border: 2px solid black;
    cursor: pointer;
  }
  
  .popUp {
    display: none;
  }
  
  .starSign {
    position: absolute;
    top: 0px;
    left: 955px;
    display: none;
  }
  
  
  
  
  
  /* Start Learning page  */
  
  
  .mainSLP {
    width: 520px;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .searchdiv {
    width: 400px;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  
  input {
    border-radius: 10px;
  }
  
  .pickLesson {
    width: 400px;
    background-color: rgb(128 188 212/ 0.7);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: baseline;
    height: fit-content;
    padding-bottom: 20px;
    margin-top: 20px;
    border-top: 1px solid brown;
  }
  
  .skills {
    height: 30px;
    width: 160px;
    background-color: black;
    color: skyblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  
  .skills:hover {
    height: 30px;
    width: 160px;
    background-color: brown;
    color: skyblue;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  
  
  /* Aboutpage css  */
  
  
  .containerAbout {
    width: 520px;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
  .divInsideAbout1 {
    background-color: rgba(62, 155, 192, 0.3);
    height: 800px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    border-top: 1px solid brown;
    border-bottom: 1px solid brown;
  
  }
  
  .divInsideAbout {
    background-color: rgba(62, 155, 192, 0.3);
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 20px;
    padding-right: 20px; */
    gap: 20px;
    border-top: 1px solid brown;
    border-bottom: 1px solid brown;
  }
  
  
  .imgAbout {
    height: 240px;
    width: 240px;
  } 
  
  
  /* Inprogress page css */
  
  .mainDivInprogressPage {
    height: fit-content;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}






/* Another media query */






@media screen and (max-width: 420px) {

body {
  width: 420px;
  display: block;
  flex-direction: none;
  justify-content: none;
  align-items: none;
}




menu {
  width: 420px;
}



.mainBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 420px;
  height: 240px;
  background-color: blue;
}

.mainBox > button {
  height: 40px;
  width: 150px;
}

.mainBox > button:hover {
  background-color: brown;
}

header {
  width: 420px;
}


.headerBox1, .headerBox2 {

  height: 300px;
  width: 300px;
}


.headerBox2 > img {
  height: 280px;
  width: 280px;
}

footer {
  width: 420px;
}


.footerIcons {
  width: 200px;
}





/* styling for creativepage */



 .mainDiv {
  height: 2200px;
  width: 420px;
  display: flex;
  flex-direction: column;
}



.titleBox {
  background-color: skyblue;
  height: 40px;
  width: 420px;
  padding-left: 15px;
}

.resources {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}


.resources h3 {
  width: 400px;
}

.resCon {
  height: 160px;
  width: 400px;
  display: flex;
  gap: 10px;
  padding-left: 0px;
  background-color: blue;
}

.sideBar { 
  display: none;
}

.BtnSideBar {
  width: 180px;
  border-radius: 12px;
  height: 40px;
  border-radius: 5px;
}

.BtnSideBar:hover {
  font-weight: bolder;
  cursor: pointer;
}


p {
  font-weight: bolder;
}

.resCon:hover{
  border-top: 1px solid brown;
  border-bottom: 1px solid brown;
}


.divBox1, .divBox3 {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 400px;
  justify-content: center;
  align-items: center;
  background-color: rgb(14 13 13 / 0.08);
}

.divBox2 {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 400px;
  align-items: center;
  gap: 0px;
}

.textFont {
  text-align: start; 
  height: 100%;
}




.container {
  height: 420px;
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.h3Font {
  font-size: 1.4rem;
  font-weight: bolder;
  color: brown;
}



.BtnLearn {
  width: 180px;
  border-radius: 10px;
  height: 35px;
  font-size: 0.8rem;
}

.BtnLearn:hover {
  width: 160px;
  font-weight: 100;
  height: 35px;
  font-size: 0.77rem;
  border-radius: 8px;
  background-color: brown;
  border: 2px solid black;
  cursor: pointer;
}

.popUp {
  display: none;
}

.starSign {
  position: absolute;
  top: 0px;
  left: 955px;
  display: none;
} 





/* Start Learning page  */


 .mainSLP {
  width: 420px;
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchdiv {
  width: 400px;
  height: fit-content;
  display: flex;
  justify-content: center;
}

input {
  border-radius: 10px;
}

.pickLesson {
  width: 400px;
  background-color: rgb(128 188 212/ 0.7);
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: baseline;
  height: fit-content;
  padding-bottom: 20px;
  margin-top: 20px;
  border-top: 1px solid brown;
}

.skills {
  height: 30px;
  width: 160px;
  background-color: black;
  color: skyblue;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
}


.skills:hover {
  height: 30px;
  width: 160px;
  background-color: brown;
  color: skyblue;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
}



/* Aboutpage css  */


 .containerAbout {
  width: 420px;
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.divInsideAbout1 {
  background-color: rgba(62, 155, 192, 0.3);
  height: 800px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;
  border-top: 1px solid brown;
  border-bottom: 1px solid brown;

}

.divInsideAbout {
  background-color: rgba(62, 155, 192, 0.3);
  height: 450px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;
  border-top: 1px solid brown;
  border-bottom: 1px solid brown;
} */


 .imgAbout {
  height: 240px;
  width: 240px;
}  


/* Inprogress page css */

 .mainDivInprogressPage {
  height: fit-content;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}  

}

